<!--
    Este componente maneja la lógica del formulario para agregar un nuevo empleado.
    El formulario se oculta o se muestra al hacer clic en "Add New Employee".
    Al enviar el formulario, se invoca el método "Add" que a su vez llama al callback "OnAdd"
    para notificar al componente padre (EmployeeCard) que se ha agregado un nuevo empleado.

    Posible mejora: Emplear un EventCallback para manejar la actualización de la lista de empleados
    aprovechando el Irepository.
-->

<button class="btn btn-primary" @onclick="ShowForm">@ShowButton</button>
<br />

@if (showForm)
{
    <br />
    <div class="form-control border-3" style="background-color: whitesmoke">
        <p>Enter the new employee information: </p>
        <EditForm Model="employee" OnValidSubmit="Add" style="flex-direction:column-reverse">
            <DataAnnotationsValidator />
            <div class="row">
                <div class="col-md-6">
                    <label> Name: </label>
                    <InputText class="form-control" @bind-Value="@employee.Name" />
                    <ValidationMessage For="@(() => employee.Name)" />
                </div>
                <div class="col-md-6">
                    <label> Position: </label>
                    <InputText class="form-control" @bind-Value="@employee.Position"/>
                    <ValidationMessage For="@(() => employee.Position)" />
                    
                </div>
                <div class="col-md-6">
                    <label> Email: </label>
                    <InputText class="form-control" @bind-Value="@employee.Email" />
                    <ValidationMessage For="@(() => employee.Email)" />
                </div>
                <div class="col-md-6">
                    <label> Salary: </label>
                    <InputNumber class="form-control" @bind-Value="@employee.Salary" />
                    <ValidationMessage For="@(() => employee.Salary)" />
                </div>
            </div>
            <br />
            @if (!isLoading)
            {
                <button class="btn btn-success" type="submit"> Add employee  </button>
            }
            else
            {
                <button class="btn btn-success" disabled>
                    <img src="https://media.tenor.com/WX_LDjYUrMsAAAAi/loading.gif" width="20" height="20" />
                </button>
            }
        </EditForm>
        
    </div>
}

@code {
    bool showForm = false;
    bool isLoading = false;

    void ShowForm() { showForm = !showForm; }

    string ShowButton => showForm ? "Hide form" : "Add new employee";
    
    protected async Task Add()
    {
        isLoading = true;
        await Task.Delay(2000);
        await OnAdd.InvokeAsync(employee);
        isLoading = false;
    }

    [Parameter]
    public Employee employee { get; set; } = null!;

    [Parameter]
    public EventCallback<Employee> OnAdd { get; set; }
}
