<button class="btn btn-primary" @onclick="ShowForm">@ShowButton</button>
<br />

@if (showForm)
{
    <br />
    <div class="form-control">
        <p>Enter the new employee information: </p>
        <EditForm Model="empleado" OnValidSubmit="Add" style="flex-direction:column-reverse">
            <DataAnnotationsValidator />
            <div class="row" style="max-width:700px;">
                <div class="col-md-6">
                    <label for="name"> Name: </label>
                    <InputText class="form-control" @bind-Value="@empleado.Name" />
                    <ValidationMessage For="@(() => empleado.Name)" />
                </div>
                <div class="col-md-6">
                    <label for="position"> Position: </label>
                    <InputText class="form-control" @bind-Value="@empleado.Position" />
                    <ValidationMessage For="@(() => empleado.Position)" />
                    
                </div>
                <div class="col-md-6">
                    <label for="email"> Email: </label>
                    <InputText class="form-control" @bind-Value="@empleado.Email" />
                    <ValidationMessage For="@(() => empleado.Email)" />
                </div>
                <div class="col-md-6">
                    <label for="salary"> Salary: </label>
                    <InputNumber class="form-control" @bind-Value="@empleado.Salary" />
                    <ValidationMessage For="@(() => empleado.Salary)" />
                </div>
            </div>
            <br />
            <button class ="btn btn-success" type="submit">  Add employee </button>

        </EditForm>
        
    </div>
}

@code {
    bool showForm = false;
    void ShowForm() { showForm = !showForm; }

    string ShowButton => showForm ? "Hide form" : "Add new employee";

    public void Add()
    {
        OnAdd.InvokeAsync(empleado);
    }

    [Parameter]
    public Employee empleado { get; set; } = null!;

    [Parameter]
    public EventCallback<Employee> OnAdd { get; set; }


}
