@page "/employees"
@rendermode InteractiveServer

<PageTitle>Employees</PageTitle>
<div>
    <h3>@StringUtilities.TransformToTitleCase("Employees")</h3>

    <p>This is a page for employees management</p>
    <br />

    <input type="checkbox" @onchange="@(() => ShowDeleteButton = !ShowDeleteButton)" />
    <span>
        Show Delete Button
    </span>
    <br />
    <button @onclick="ShowAddEmployee">New Employee</button>

</div>

@if (ShowForm)
{
    <div>
        <hr />
        <p>Enter the employee information: </p>
        <input type="text" @bind="empleado.Name" placeholder="Enter name" id="name" required /><br />
        <input type="text" @bind="empleado.Position" placeholder="Enter Position" id="position" required /><br />
        <input type="text" @bind="empleado.Department" placeholder="Enter Department" id="department" required /><br />
        <input type="text" @bind="empleado.Salary" placeholder="Enter Salary" id="Salary" required /><br />

        <button @onclick="AddEmployee">New</button>
        <button @onclick="CloseForm">Close</button>
    </div>
    <hr />
}
    <br />

@if(employees is null)
{
    <p>Loading employees...</p>
} 
else if (employees.Count == 0)
{
    <p>No employees to show</p>
}
else
{
    <p>Employees List:</p>
    @foreach (var employee in employees)
    {
        <div class="basic-card">
            <p>Name: @employee.Name, Position: @employee.Position, Department: @employee.Department, Salary: $@employee.Salary</p>
            
            @if (ShowDeleteButton)
            {
                <button @onclick="() => DeleteEmployee(employee)">Delete</button>
            }
        </div>
    }
}


@code {

    bool ShowForm = false;
    bool ShowDeleteButton = false;

    private Employee? empleado { get; set; } = new();

    List<Employee> employees { get; set; } = new();

    protected override void OnInitialized()
    {
        employees = GetEmployee();
        Console.WriteLine("Employees page loaded");
    }

    List<Employee> GetEmployee()
    {
        return new List<Employee>()
        {
            new Employee { Name = "John Doe", Position = "Manager", Salary = 100f, Department = "Sales" },
            new Employee { Name = "Jane Smith", Position = "Developer", Salary = 50f, Department = "I+D" },
            new Employee { Name = "Emily Johnson", Position = "Designer", Salary = 10f, Department = "Marketing" }
        };
    }

    void ShowAddEmployee(){ShowForm = true;}
    void CloseForm(){ShowForm = false;}


    void AddEmployee()
    {   
        Console.WriteLine("Nuevo empleado entrante!");

        if (!String.IsNullOrEmpty(empleado.Name) && !String.IsNullOrEmpty(empleado.Position) && !String.IsNullOrEmpty(empleado.Department) && empleado.Salary >0)
        {
            employees.Add(new Employee
            {
                Name = empleado.Name,
                Position = empleado.Position,
                Salary = empleado.Salary,
                Department = empleado.Department
            });
            empleado = new Employee();
            StateHasChanged();
        }

    }

    void DeleteEmployee(Employee emp)
    {
        employees.Remove(emp);
        StateHasChanged();
        
    }
}
